<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/static/css/style_login.css">
</head>

<body>

<div class="wrapper">
    <form class="form-signin" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h2 class="form-signin-heading">Login</h2>
        <input type="text" class="form-control" id="email"
               maxlength="254" name="email" placeholder="Email" required=""
               autofocus="true" />
        <input type="password" class="form-control" id="senha"
               name="senha"
               placeholder="Password" required=""/>
        {% if erro %}
            <p style="font-size:90%; color: red;"> {{erro}}</p>
        {%elif info %}
            <p style="font-size:90%;font-weight: bold;"> {{info}}</p>
        {% endif %}

        <input type='hidden' name='next' value='{{next}}' />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <br/>
        <div style="text-align: center;">
            <a href="{% url 'novo_usuario' %}">Register</a>
        </div>
    </form>
</div>
</body>
</html>
