
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">-->
    <title>Web Crawler</title>
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
</head>
<body>
<div class="container" style="margin-top: 40px">
    <div class="row">
        <h1> Cadastrar novo usuário</h1>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Enter your details</div>
                <div class="panel-body">
                    <form action="{% url 'cadastrar_novo_usuario' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label" for="nome">Name</label>
                            <label style="color:red;">*</label>
                            <input type="text" class="form-control" id="nome" name="nome" >
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="sobrenome">Surname</label>
                            <label style="color:red;">*</label>
                            <input type="text" class="form-control" id="sobrenome" name="sobrenome" >
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="email">Email</label>
                            <label style="color:red;">*</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="senha">Password</label>
                            <label style="color:red;">*</label>
                            <input type="password" class="form-control" id="senha" name="senha">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="confirmacao_senha">Confirm your password</label>
                            <label style="color:red;">*</label>
                            <input type="password" class="form-control" id="confirmacao_senha" name="confirmacao_senha">
                        </div>
                        {% if erro %}
                        <p style="font-size:90%; color: red;"> {{erro}}</p>
                        {%elif info %}
                        <p style="font-size:90%;"> {{info}}</p>
                        {% endif %}
                        <button type="submit" class="btn btn-default">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
