
<!DOCTYPE html>
<html>
<head lang="pt-br">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!--<link href="/static/css/bootstrap-rtl.css" rel="stylesheet"/>-->
    <!--<link href="/static/css/bootstrap-rtl.min.css" rel="stylesheet"/>-->
    <!--<link href="/static/css/bootstrap.css" rel="stylesheet"/>-->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <link href="/static/css/timeline.css" rel="stylesheet">
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">
    <link href="/static/bower_components/morrisjs/morris.css" rel="stylesheet">
    <link href="/static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/estilo.css" rel="stylesheet"/>
    <link href="/static/lou-multi-select/css/multi-select.css" media="screen" rel="stylesheet" type="text/css">

    <script src="/static/bower_components/jquery/dist/jquery.js"></script>
    <!--<script src="/static/lou-multi-select/js/jquery.js"></script>-->
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script src="/static/script/sb-admin-2.js"></script>
    <script src="/static/script/script.js"></script>
    <script src="/static/script/bootstrap-filestyle.js"></script>

</head>
<body>

<!--<div class="panel-body">-->
    <div id="interface" style="width: 80%" class="content">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'WebCrawler:index' %}"><p><img height="40px" width="35px" src="/static/imagem/ufs_logo.png"/> Web Crawler</p></a>
            </div>

            <!-- Ícones da barra superior-->
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="{% url 'WebCrawler:index' %}">
                        <i class="fa fa-home fa-fw"></i><label style="font-size: 11pt; padding-left: 2px;"> Home</label>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-users fa-fw"></i><label style="font-size: 11pt; padding-left: 2px;"> About us</label>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-info fa-fw"></i><label style="font-size: 11pt; padding-left: 2px;"> Documentation</label>
                    </a>
                </li>
                {% if corpus_gerado %}
                    <li>
                        <a href="{% url 'WebCrawler:processamento' %}">
                            <i class="fa fa-thumbs-o-up" title="Corpora disponível para download"></i><label style="font-size: 11pt; padding-left: 2px;"> Corpora </label>
                        </a>
                    </li>
                {% endif %}
                   <li>
                    <a  href="{% url 'editar_dados_usuario' %}">
                        <i class="fa fa-user" title="Editar meus dados"></i><label style="font-size: 11pt; padding-left: 2px;"> Personal info </label>
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">
                        ({{user.first_name}})
                        <i class="fa fa-sign-out" ></i><label style="font-size: 11pt; padding-left: 2px;" > Log out </label>
                    </a>
                </li>

            </ul>
        </nav>
        <br/> <br/>
        {% block content %}
        {% endblock %}
    </div>
<!--</div>-->

<script>$(document).ready(function() {
                $(":file").filestyle('buttonText', 'Select file');
                $(":file").filestyle({disabled: true});
            });</script>
<script>
        $("#radio_urls_sementes").click(function(){
            $(":file").filestyle('disabled', true);
            tratarFonteColetaUrlsSementes();
        });
        $("#radio_coleta_arquivo").click(function(){
            $("#coleta_select_file").filestyle('disabled', false);
            desabilitaLabel();
        });
        $("#radio_abrangencia_twitter").click(function(){
            $("#arquivo_dados_acesso_twitter").filestyle('disabled', false);
            desabilitaLabel();
        });
        $("#radio_palavras_chave").click(function(){
            $(":file").filestyle('disabled', true);
            desabilitaLabel();
        });
        $(".dominio_checkboxes").click(function(){
            var someonechecked = 0;
            for(var i = 0; i < document.getElementsByClassName("dominio_checkboxes").length; i++){
            if (document.getElementsByClassName("dominio_checkboxes")[i].checked == true){
                someonechecked = 1;
                break;
            }
            }
            if (someonechecked === 0)
                habilitaLabel();
            else
                desabilitaLabel();
        });
    </script>
</body>
</html>
